@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    & {
      background-image: url($file + '@3x.' + $type);
      background-size: $width $height;
    }
  }
}
