.main-page__title {
  margin: 31px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.main-page__description {
  margin: 10px 0 0;
  padding: 0;
  font-size: 18px;
}

.main-page__btn-correspondence {
  margin-top: 20px;
}
